{% extends 'admin/change_form.html' %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">

td.original p {
    visibility: hidden;
}

.inline-group .tabular tr.has_original td {
    padding-top: 5px;
}

input[name="_save"], input[name="_addanother"], a.related-widget-wrapper-link {
    display: none;
}

input[maxlength="8"] {
    width: 80px;
}

</style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'table-details' original.pk %}" class="historylink">Посмотреть</a>
    </li>
    <li>
        <a href="{% url 'table-image' original.pk %}" class="historylink">Скачать картинку</a>
    </li>
{% endblock %}